{% extends 'base.html.twig' %}

{% block body %} 


<h1>Bienvenue au Symfony dons !</h1> 
<br>
<h4>Site de dons de code php...</h4>
<br><br>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deserunt voluptatem ea animi illo nisi neque iusto et, non, sunt consectetur fugiat minima maiores! Rerum recusandae quibusdam eaque esse, quo nisi modi dolor facere temporibus fugiat sapiente sit! Sequi, magnam.</p>
<p>Voluptatibus itaque aut corrupti reiciendis. Unde, aliquam placeat. Accusantium explicabo, quam dolore autem nesciunt veritatis hic ut tempore? Similique, sed reprehenderit! Velit quia saepe nemo quaerat fuga expedita itaque id quas! Molestiae veritatis corrupti ad fuga, saepe perspiciatis vero nemo!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deserunt voluptatem ea animi illo nisi neque iusto et, non, sunt consectetur fugiat minima maiores! Rerum recusandae quibusdam eaque esse, quo nisi modi dolor facere temporibus fugiat sapiente sit! Sequi, magnam.</p>
<p>Voluptatibus itaque aut corrupti reiciendis. Unde, aliquam placeat. Accusantium explicabo, quam dolore autem nesciunt veritatis hic ut tempore? Similique, sed reprehenderit! Velit quia saepe nemo quaerat fuga expedita itaque id quas! Molestiae veritatis corrupti ad fuga, saepe perspiciatis vero nemo!</p>

{% endblock %}